<div class="container">
    <div class="title"><h1>MAQUINA N° {{numberMachine}}</h1></div>
    <div class="information">
        <div class="review">
            <p>Ultima revision: {{date | date: 'short'}} </p>
            <button (click)="editReview()">EDITAR REVISION</button>
        </div>
        <div class="divide">
            <p>Ultima separacion: {{date | date: 'short'}} </p>
            <button (click)="editDivide()">EDITAR SEPARACION</button>
        </div>
    </div>
    <div class="buttons">
    </div>

    <!--seguir viendo el displey none a arreglar-->
    <form class="review">
        <label for="date">FECHA Y HORARIO:</label>
        <input type="text" name="date">
        <button>Editar</button>
        <button>Cancelar</button>
    </form>
</div>