<app-nav></app-nav>
<div class="container" *ngIf="individualWorker">
    <div class="title" >
        <h1>{{individualWorker.name}}</h1>
    </div>
    <div class="information">
        <div class="machineActive">
            <label for="reviewer">Revisador Activo</label>
            <input #activeReviewer type="checkbox" name="reviewer" [checked]="individualWorker.activeReviewer" (click)="changeReviewerState($event)">
            <label for="separator">Separador Activo</label>
            <input #activeDivider type="checkbox" name="separator" [checked]="individualWorker.activeDivider" (click)="changeDividerState($event)">
        </div>
    </div>
    <button (click)="deleteWorker(individualWorker._id)">Eliminar trabajador</button>
</div>