$deepBlue: #383F51;
$purple: #DDDBF1;
$oceanicBlue: #3C4F76;

.container{
    width: 79vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 15vh;
    }
    .buttons{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 85vh;
        width: 50vw;
        button{
            width: 60%;
            height: 50px;
            background-color: $deepBlue;
            color: $purple;
            border-radius: 20px;
        }
        #finish{
            display: none;
        }
    }
}