<div class="container" >
    <div *ngIf="this.individualMachine" class="title">
        <h1>SEPARAR: {{this.individualMachine.machineName}}</h1>
    </div>


    <div #startView id="startView" class="startContainer">
        <button  class="start" (click)="start()">COMENZAR</button>
    </div>
    
    <form [formGroup]="divideDataForm" (ngSubmit)="saveDivideData($event)" #send >
        <label  for="colth">PAÑOS TOTALES:</label>
        <input  type="number" formControlName="colth" name="colth">
        <label for="failed">PAÑOS FALLADOS:</label>
        <input type="number" formControlName="failed" name="failed">
        <button type="submit" [disabled]="divideDataForm.invalid">FINALIZADO</button>
    </form>
</div>