$deepBlue: #383f51;
$purple: #dddbf1;
$oceanicBlue: #3c4f76;

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;

  form {
    .radio {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }

    .filtersByDate{
        text-align: center;
    }
    input {
      margin: 20px 5px 20px 5px;
    }
    button {
      height: 30px;
      width: 60px;
      border-radius: 20px;
      margin: 20px 0 20px 20px;
      background-color: $oceanicBlue;
      color: white;
      font-size: 10px;
    }
  }

  table,
  th,
  t {
    border: 1px solid black;
    width: 80%;
    background-color: #eceaff;
    th {
      border: 1px solid black;
    }
    td {
      border: 1px solid black;
      min-width: 130px;
      text-align: center;
    }
  }
}

@media screen and (max-width:600px){
  form{

    .radio{
      flex-direction: column !important;
      align-items: flex-start !important;
      margin: 30px 0 30px 10px;
      .all, .divide, .review{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }

    .filtersByDate{
      display: flex;
      flex-direction: column;
      .start, .end{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        input{
          width: 70%;
        }
      }
      .buttons{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
      }
    }
  }
  #excel-table{
    display: none;
  }
}
