<app-nav></app-nav>

<div class="container">
    <form #filters = 'ngForm'>
        <div>
            <input type="radio" id="all" name="work" value="all" (click)="RadioButtonFilter('all')" checked>
            <label for="all">TODOS</label>
            <input type="radio" id="review" name="work" value="review" (click)="RadioButtonFilter('review')" >
            <label for="review">REVISION</label>
            <input type="radio" id="divide" name="work" value="divide" (click)="RadioButtonFilter('divide')" >
            <label for="divide">SEPARACION</label>
        </div>
        
        <div>
            <p>Filtrado por fechas:</p>
            <label for="initialDate">DEL:</label>
            <input type="datetime-local" name="initialDate" [(ngModel)]="initialDate">
            <label for="finalDate">AL:</label>
            <input type="datetime-local" name="finalDate" [(ngModel)]="finalDate" >
            <button (click)="filterByDate()">filtrar</button>
            <button (click)="exportExcel()">Descargar</button>
        </div>
    </form>
    <table id="excel-table">
        <tbody>
            <tr class="titles">
                <th>TRABAJO</th>
                <th>TRABAJADOR</th>
                <th>MAQUINA</th>
                <th>ESTADO</th>
                <th>PRENDAS</th>
                <th>FALLOS</th>
                <th>FECHA</th>
            </tr>
           
                <tr  *ngFor="let register of this.register">

                    <td *ngIf="register.work === 'divide'" >SEPARACION</td>
                    <td *ngIf="register.work === 'review'" >REVISION</td>

                    <td>{{register.worker.name}}</td>
                    <td>{{register.machine.machineName}}</td>
                    
                    <th *ngIf="register.status === undefined"></th>
                    <td *ngIf="register.status">FUNCIONANDO</td>
                    <td *ngIf="register.status === false">PROBLEMAS</td>

                    <td *ngIf="register.colth">{{register.colth}}</td>
                    <th *ngIf="(register.status || !register.status) && !register.colth"></th>
                    
                    <td *ngIf="register.failed">{{register.failed}}</td>
                    <td *ngIf="register.status === false &&  register.problems">{{register.problems}}</td>
                    <th *ngIf="register.colth === undefined  && register.status === true"></th>

                    <td>{{register.date | date: "d/M/yy, h:mm a"}}</td>
                </tr>
        </tbody>
    </table>

</div>