$deepBlue: #383F51;
$purple: #DDDBF1;
$oceanicBlue: #3C4F76;


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 79.9vw;
    height: 100vh;
    background-color: $purple;
    
}