<app-nav></app-nav>
<div class="container" *ngIf="attendant">
    <div class="title" >
        <h1>{{attendant.name}}</h1>
    </div>
    <div class="information">
        <form [formGroup]="attendantForm" (ngSubmit)="changePassword($event)">
            <label for="password"></label>
            <input type="text" name="password" id="password" formControlName="password">
            <button type="submit" [disabled]="attendantForm.invalid">Cambiar contraseña</button>
        </form>
    </div>
</div>