$deepBlue: #383F51;
$purple: #DDDBF1;
$oceanicBlue: #3C4F76;

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 79.8vw;
    height: 99.7vh;

    .jobsContainer{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 79vw;
        height: 85vh;

        .toDo{
            font-size: 20px;
            margin: 30px;
            width: 60vw;
            input{
                margin-right: 20px;
            }
        }
    
    }
    
}