$deepBlue: #383F51;
$purple: #DDDBF1;
$oceanicBlue: #3C4F76;

.container{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    height: 100%;
    width: 100%;
    grid-template-areas: "title" "toDo";
    h1{
        grid-area: title;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .jobsContainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;

        .toDo{
            font-size: 20px;
            margin: 30px;
            width: 60vw;
            grid-template: toDo;
            input{
                margin-right: 20px;
            }
        }
    
    }
    
}