$deepBlue: #383F51;
$purple: #DDDBF1;
$oceanicBlue: #3C4F76;

.container{
    width: 79vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #layout{
        display: none;
    }
    #machineCfg{
        display: none;
    }
}