<div class="container">
    <form id="login" #login>
        <label for="password">Contraseña </label>
        <input type="password" [(ngModel)]="password" name="password">
        <button (click)="signIn()">Ingresar</button>
    </form>
    <nav id="nav" #nav>
        <ul>
            <li><a (click)="showMachinesLayout()">Maquinas</a></li>
            <li><a (click)="showWorkersCfg()">Personal</a></li>
        </ul>
    </nav>

    <div #layoutMachines id="layoutMachines">
        <app-layoutmachine  (machineNumber)="machineNumber($event)" (displayLayoutMachine)="displayOrNotLayoutMachines()"  ></app-layoutmachine>
    </div>

    <div #machineCfg id="machineCfg">
        <app-machinecfg [number] = "machineNumb"  (clicked)="getBackFromMachineCfg($event)"></app-machinecfg>
    </div>

    <div #layoutWorkers id="layoutWorkers">
        <app-layoutworkers  (nameWorker)="GetNameWorker($event)" (displayLayoutWorkers)="displayOrNotLayoutWorkers($event)" ></app-layoutworkers>
    </div>

    <div #workersCfg id="workersCfg">
        <app-workerscfg [workerName]="workerName"  (clicked)="getBackFromWorkersCfg($event)"></app-workerscfg>
    </div>
</div>