<div class="container">
    <form id="login">
        <label for="password">Contraseña </label>
        <input type="password" [(ngModel)]="password" name="password">
        <button (click)="signIn()">Ingresar</button>
    </form>
    <nav id="nav">
        <ul>
            <li><a (click)="showMachinesLayout()">Maquinas</a></li>
            <li><a (click)="showWorkersCfg()">Personal</a></li>
        </ul>
    </nav>
    <app-layoutmachine (machineNumber)="machineNumber($event)" (displayLayout)="displayOrNotLayout()" id="layout"></app-layoutmachine>
    <app-machinecfg [number] = "machineNumb" id="machineCfg" (clicked)="getBack($event)"></app-machinecfg>
    <app-workerscfg id="workersCfg"></app-workerscfg>
</div>