<app-nav></app-nav>
<div class="container">

    <h1>Trabajos secundarios</h1>

    <div  class="listActivities">
        <p>Estado</p>
        <p>Trabajo</p>
        <p>Eliminar</p>
        
    </div>


    <div *ngFor="let job of jobs" class="listActivities">
        <p class="completed" *ngIf="job.done" >Realizado</p>
        <p class="waiting" *ngIf="!job.done">Sin realizar</p>
        <p>{{job.toDo}}</p>
        <a (click)="deleteToDo(job._id)"><img src="../../../../assets/images/icons8-remove-48.png" alt="remove"></a>
        
    </div>

    <button #btnShowForm type="button" (click)="showForm()">Agregar trabajo</button>
    <form #form (ngSubmit)="addToDo()">
        <label for="toDO">Actividad</label>
        <input type="text" id="toDO" [(ngModel)]="toDoInput" name="toDo">
        <button type="submit">Agregar</button>
    </form>
</div>
