$deepBlue: #383F51;
$purple: #DDDBF1;
$oceanicBlue: #3C4F76;

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 79.8vw;
    height: 99.7vh;

    .listActivities{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-around;
        align-items: center;
        background-color: #383f5194;
        font-size: 20px;
        a{
            cursor: pointer;
            img{
                width: 40px;
            }
        }
        .completed{
            color: rgb(0, 209, 0);
        }
        .waiting{
            color: rgb(207, 0, 0);
        }
    }
    form{
        display: none;
        justify-content: center;
        align-items: center;
        label{
            margin-right: 20px;
        }
        button{
            width: 80px;
            height: 30px;
            border-radius: 20px;
            margin-left: 20px;
            background-color: $deepBlue;
            color: $purple;
        }
    }
}