$deepBlue: #383F51;
$purple: #DDDBF1;
$oceanicBlue: #3C4F76;

.btn{
    height: 80px;
    width: 200px;
    border-radius: 20px;
    background-color: $oceanicBlue;
    color: white;
    font-size: 18px;
}

.check{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    input{
        margin-left: 10px;
    }
    margin-top: 20px;
}