<app-nav></app-nav>
<div class="container" *ngIf="machine">
    <div class="title">
        <h1>{{machine.machineName}}</h1>
        <input type="text" #titleInput [(ngModel)]="title">
        <button (click)="editTitle()" #buttonEdit>Editar</button>
        <button (click)="cancelEdit()" #buttonCancel >Cancelar</button>
        <a (click)="updateMachineTitle()"><img src="../../../../assets/images/editar.png" alt="editar"></a>
    </div>
    <div class="information">
        <div class="machineActive">
            <label for="machiene">Maquina activa</label>
            <input #activeMachine type="checkbox" name="machine" [checked]="machine.activeMachine" (click)="changeState($event)">
        </div>
        <div class="information--review">
            <p id="review">Ultima revision: {{machine.lastReview | date: 'short'}} </p>
            <button (click)="editForm('review')">EDITAR REVISION</button>
        </div>
        <div class="divide">
            <p>Ultima separacion: {{machine.lastDivition | date: 'short'}} </p>
            <button (click)="editForm('divide')">EDITAR SEPARACION</button>
        </div>
    </div>

    <button class="delete" (click)="deleteMachine(machine._id)">Eliminar maquina</button>

    <!--seguir viendo el display none a arreglar-->
    <form id="form" #form>
        <label for="date">FECHA Y HORARIO:</label>
        <input type="text" name="date" [(ngModel)]="newDate">
        <button (click)="edit()">Editar</button>
        <button (click)="cancel()">Cancelar</button>
    </form>
</div>