$deepBlue: #383f51;
$purple: #dddbf1;
$oceanicBlue: #3c4f76;

.container {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  .title {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    h1 {
      width: 100%;
      text-align: center;
      margin-left: 20px;
    }
    a{
      cursor: pointer;
      img{
        width: 30px;
        margin-right: 20px;
      }
    }
    input{
      display: none;
    }
    button{
      display: none;
      font-size: 10px;
      width: 60px;
      height: 30px;
      border-radius: 20px;
      margin-left: 20px;
      background-color: $deepBlue;
      color: $purple;
    }
  }
  .information {
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .machineActive {
      display: flex;
      flex-direction: row;
      align-items: center;
      label {
        margin: 10px;
      }
    }
    p {
      font-size: 20px;
    }
    .information--review {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 20px 0 20px 0;
      button {
        width: 100px;
        height: 40px;
        border-radius: 20px;
        margin-left: 20px;
        background-color: $deepBlue;
        color: $purple;
      }
    }
    .divide {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 20px 0 20px 0;
      button {
        width: 100px;
        height: 40px;
        border-radius: 20px;
        margin-left: 20px;
        background-color: $deepBlue;
        color: $purple;
      }
    }
  }

  .delete {
    width: 100px;
    height: 40px;
    border-radius: 20px;
    margin-left: 20px;
    background-color: $deepBlue;
    color: $purple;
  }
  form {
    display: none;
    align-items: center;
    justify-content: center;
    label {
      width: 100px;
    }
    input {
      height: 30px;
      width: 200px;
    }

    button {
      width: 80px;
      height: 30px;
      border-radius: 20px;
      margin-left: 20px;
      background-color: $deepBlue;
      color: $purple;
    }
  }
}
