<div class="container" >
    <h1 *ngIf="this.individualMachine.machineName">REVISAR: {{this.individualMachine.machineName}}</h1>

    <div #startView id="startView" class="startContainer">
        <button  class="start" (click)="start()">COMENZAR</button>
    </div>
    
    <div #status class="status" >
        <a (click)="like()"><img src="./../../../assets/images/like.png" alt="anda"></a>
        <a (click)="dislike()"><img src="./../../../assets/images/dislike.png" alt="problemas"></a>
    </div>

    <form #problemsView [formGroup]="reviewDataForm" class="problems" (ngSubmit)="saveProblem($event)">
        <label for="error">Problema</label>
        <textarea id="error" name="error" type="text" formControlName="problem"></textarea>
        <button type="submit" [disabled]="reviewDataForm.invalid">Enviar</button>
    </form>
</div>