$deepBlue: #383F51;
$purple: #DDDBF1;
$oceanicBlue: #3C4F76;

.container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 79.8vw;
    height: 99.7vh;


    .startContainer{
        
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50vw;
        height: 50vh;
        .start{
            width: 60%;
            height: 50px;
            background-color: $deepBlue;
            color: $purple;
            border-radius: 20px;
        }
    }

    .status{
        display: none;
        flex-direction: row;
        a{
            width: 80px;
            height: 80px;
            margin: 80px;
            cursor: pointer;
            img{
                width: 80px;
            }
        }
    }

    form{
        display: none;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        textarea{
            width: 200px;
            height: 200px;
        }
    }
}
