<div class="container" >
    <h1 *ngIf="this.individualMachine.machineName">REVISAR: {{this.individualMachine.machineName}}</h1>

    <div #startView id="startView" class="startContainer">
        <button  class="start" (click)="start()">COMENZAR</button>
    </div>
    
    <div #status class="status" >
        <a (click)="like()"><img src="./../../../assets/images/like.png" alt=""></a>
        <a (click)="dislike()"><img src="./../../../assets/images/dislike.png" alt=""></a>
    </div>

    <form #problemsView class="problems" (ngSubmit)="saveProblem()">
        <label for="error">Problema</label>
        <textarea id="error" name="error" type="text" [(ngModel)]="problems" ></textarea>
        <button type="submit">Enviar</button>
    </form>
</div>