<div class="container" >
    <h1 *ngIf="this.individualMachine">REVISION EN MAQUINA N° {{this.individualMachine.machineNumber}}</h1>

    <div #startView id="startView" class="startContainer">
        <button  class="start" (click)="start()">COMENZAR</button>
    </div>
    
    <form (ngSubmit)="saveReviewData()" #send >
        <label for="colth">PAÑOS TOTALES:</label>
        <input type="number" name="colth" [(ngModel)]='colth'>
        <label for="failed">PAÑOS FALLADOS:</label>
        <input type="number" name="failed" [(ngModel)]='failed'>
        <button type="submit">FINALIZADO</button>
    </form>
</div>